<div class="container">
    <form [formGroup]="editstud" (ngSubmit)="onUpdate()" class="shadow-lg border p-3 rounded-3">

        <div class="row">
            <div class="col text-center p-2 mb-3 ">
                <span class="fs-3 form-label">Add Student</span>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class=" col mb-3 ">
                <label class="form-label">Student Id</label>
                <input type="text" formControlName="sid" readonly name="sid" id="sid" class="form-control">
                <!-- <div *ngIf="submitted && formsValidation.firstname.errors">      
                         <div style="color: red;" *ngIf="formsValidation.firstname.errors.required">Name is required</div>
                         <div style="color: red;" *ngIf="formsValidation.firstname.errors.pattern">*Invalid Name.</div>
                       </div> -->

            </div>

        </div>
        <div class="row">
            <div class=" col mb-3 ">
                <label class="form-label">Name</label>
                <input type="text" formControlName="name" name="name" id="name" class="form-control">
                <!-- <div *ngIf="submitted && formsValidation.firstname.errors">      
                         <div style="color: red;" *ngIf="formsValidation.firstname.errors.required">Name is required</div>
                         <div style="color: red;" *ngIf="formsValidation.firstname.errors.pattern">*Invalid Name.</div>
                       </div> -->

            </div>

        </div>
        <div class="row">
            <div class=" col mb-3 ">
                <label class="form-label">Age</label>
                <input type="text" formControlName="age" name="age" id="age" class="form-control">
                <!-- <div *ngIf="submitted && formsValidation.firstname.errors">      
                        <div style="color: red;" *ngIf="formsValidation.firstname.errors.required">Name is required</div>
                        <div style="color: red;" *ngIf="formsValidation.firstname.errors.pattern">*Invalid Name.</div>
                      </div> -->

            </div>

        </div>
        <div class="row">
            <div class=" col mb-3 ">
                <label class="form-label">Phone Number</label>
                <input type="text" formControlName="phone" maxlength="10" name="phone" id="phone" class="form-control">
                <!-- <div *ngIf="submitted && formsValidation.firstname.errors">      
                        <div style="color: red;" *ngIf="formsValidation.firstname.errors.required">Name is required</div>
                        <div style="color: red;" *ngIf="formsValidation.firstname.errors.pattern">*Invalid Name.</div>
                      </div> -->

            </div>

        </div>

        <div class="row">
            <div class="col-6 offset-3">
                <div class="d-grid">
                    <button type="submit" id="btn" class="btn btn-info">Update</button>
                </div>
            </div>
        </div>

    </form>
</div>